* {
    font-size: 11px;
}
html{

}
body {
    background-image: url("../img/backround.png"), linear-gradient(#c0e6ef, #f1fafe);
    background-repeat: no-repeat, no-repeat;
    background-size: 54.5% 100%;
    background-position: right top, left top;
}
.btn-warning{
    color: white ;
    background-color: #ff7533;
    letter-spacing: 1px;
}
header{
    background: white;
    margin-top: 30px;
 }
main{
    background: #f6f8fc;
}
.container{
    padding: 0px;
    max-width: 990px;
}
.carousel-indicators > li {
    top: 10px;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
}
h2, h3{
    font-weight: bold;
}

#registrationIndicator {
    position: absolute;
    display: block;
    background: #ff7533;
    height: 3px;
    width: 65px;
    margin-top: 10px;
    }

#loginIndicator {
    position: absolute;
    display: none;
    background: #ff7533;
    height: 3px;
    width: 80px;
    margin-top: 10px;
    left: 90px;
}

#registrationFormUsername{
    position: relative;
    top:40px;
    left:8px;
    font-size: 8px;
}

#registrationFormEmail{
    position: relative;
    top:73px;
    left:8px;
    font-size: 8px;
}

#loginFormEmail{
    position: relative;
    top:40px;
    left:8px;
    font-size: 8px;
}

#registrationFormPassword{
    position: relative;
    top:105px;
    left:8px;
    font-size: 8px;
}

#loginFormPassword{
    position: relative;
    top:73px;
    left:8px;
    font-size: 8px;
}

#registrationFormUsernameCheckbox{
    position: relative;
    bottom: 182px;
    right: 9px;
    height: 12px;
    width: 12px;
    background: #f6f8fc;
}

#loginFormEmailCheckbox{
    position: relative;
    bottom: 137px;
    right: 9px;
    height: 12px;
    width: 12px;
    background: #f6f8fc;
}

#registrationFormEmailCheckbox{
    position: relative;
    bottom: 137px;
    left: 3px;
    height: 12px;
    width: 12px;
    background: #f6f8fc;
}

#loginFormPasswordCheckbox{
    position: relative;
    bottom: 93px;
    left: 3px;
    height: 12px;
    width: 12px;
    background: #f6f8fc;
}

#registrationFormPasswordCheckbox{
    position: relative;
    bottom: 93px;
    left: 15px;
    height: 12px;
    width: 12px;
    background: #f6f8fc;
}

.registrationInput , .loginInput{
    padding-top: 23px;
    padding-bottom: 14px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover::after {
    position: relative;
    height: 150px;
    width: 150px;
    color: black;
}

a:active {
    text-decoration: underline;
    color: #ff7533;
}

.registerLogin {
    font-weight: bold;
    font-size: 16px;
}

#registrationForm {
    display: block;
}

#loginForm {
    display: none;
}
